// Bootstrap variables
@import "bootstrap_variables_overrides"
@import "bootstrap/variables"

// Custom variables

//
// Colors
// --------------------------------------------------

$gray-lightest    = #eaeaea
$gray-lighter     = #e5e5e5
$gray-light       = #dbdbdb
$gray             = #cccccc
$gray-dark        = #999999
$gray-darker      = #666666
$gray-darkest     = #333333
$white            = #fff
$black            = #000