extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'home'
  - bodyClass = 'home'

block head
  title Pickee

block body
  .container
    h1 Pickee
    .user-info
      if user
        User name: #{user.get('name')}, email: #{user.get('email')}
    form.user-search-form
      input(
        name='id'
        placeholder='Search user by ID'
        required
      )
      button( type='submit' ) Search
