extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'home'
  - bodyClass = 'home'

block head
  title Pickee

block body
  .container
    h1 Pickee
    if user
      .user-info User name: #{user.get('name')}, email: #{user.get('email')}
